* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: #111;
    background-image: url(../../public/pokebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.intro {
  text-align: center;
  border-bottom: white;
}
.welcome{
  margin-top: 50px;
  color: rgb(6, 0, 78);
  display: inline-block;    
  /*
  border: 5px solid black;
  box-shadow:
  rgba(240, 46, 170, 0.4) -5px 5px,
  rgba(240, 46, 170, 0.3) -10px 10px,
  rgba(240, 46, 170, 0.2) -15px 15px,
  rgba(240, 46, 170, 0.1) -20px 20px,
  rgba(240, 46, 170, 0.05) -25px 25px,

  rgba(240, 46, 170, 0.4) 5px 5px,
  rgba(240, 46, 170, 0.3) 10px 10px,
  rgba(240, 46, 170, 0.2) 15px 15px,
  rgba(240, 46, 170, 0.1) 20px 20px,
  rgba(240, 46, 170, 0.05) 25px 25px,

  rgba(240, 46, 170, 0.4) -5px -5px,
  rgba(240, 46, 170, 0.3) -10px -10px,
  rgba(240, 46, 170, 0.2) -15px -15px,
  rgba(240, 46, 170, 0.1) -20px -20px,
  rgba(240, 46, 170, 0.05) -25px -25px,

  rgba(240, 46, 170, 0.4) 5px -5px,
  rgba(240, 46, 170, 0.3) 10px -10px,
  rgba(240, 46, 170, 0.2) 15px -15px,
  rgba(240, 46, 170, 0.1) 20px -20px,
  rgba(240, 46, 170, 0.05) 25px -25px;
  */
}

/*
.welcome:hover{
    transform: scale(1.05);
    transition:  0.2s ease-in;
    cursor: pointer;
}
*/

.floatelement {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-5px);
  }

  100% {
      transform: translateY(0);
  }
}

.mytitle {
  width: 50rem;
}

.buttons{
    margin: 70px;
    border: none;
}

.view-catalog, .submit {
background-color: #1a1a1a;
  color: white;
  border-radius: 50px;
  margin: 20px;
  padding: 14px 28px;
  border: 2px solid transparent;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgb(243, 4, 187); /* subtle base glow */
  min-width: 170px;

}
.view-catalog:hover, 
.submit:hover{
  border: 2px solid rgb(243, 4, 187);
  box-shadow: 0 0 20px rgba(164, 11, 106, 0.6),
              0 0 40px rgba(230, 7, 144, 0.82),
              0 0 60px rgba(255, 4, 151, 0.164);
  background-color: #2a2a2a;
  transform: scale(1.03);

}
.intro-desc {
  margin-top: 70px;
  font-size: 1.1rem;
  color: #0c0050;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}
