* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.submissions-page {
  border-bottom: white;
  border-style: solid;
}

.submission-container {
  min-height: 100vh;
  max-width: 600px;
  margin: 50px auto;
  padding: 2rem;
  background-color: #1a1a1a;
  color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(240, 46, 170, 0.3);
  
}

.submission-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #f03eaa;
}

form input, form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  background-color: #222;
  color: white;
  border: 1px solid #555;
  border-radius: 10px;
  font-size: 1rem;
}

form button {
  width: 100%;
  padding: 12px;
  background-color: #f03eaa;
  color: white;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: hsl(324, 60%, 46%);
}
