
.navbar {
    background-color: #111;
    color: white;
    padding: 1rem 0;
    border-top: white;
    border-bottom: #000000;
    border-style: solid;
}
  
.navbar-container {
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.navbar-brand a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: text-shadow 0.2s ease;
}

.navbar-brand a:hover {
    text-shadow: 0 0 8px white, 0 0 15px white;
}
  
.navbar-links a {
    margin-left: 2rem;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s ease;
}
  
.navbar-links a:hover {
    transform: translateY(-5px);
}



.footer {
    text-align: center;
    padding-top: 1rem;
    background-color: #0d0d0d;
    color: white;
    font-size: 0.9rem;
    border-bottom: white;
    border-top: #000000;
    border-style: solid;
}

.footer h2 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: xx-large;
}

.flex {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 1rem;
}

/*@media (max-width: 768px) {
    .flex {
      flex-direction: column;
    }
}*/

.flex-item {
    margin-left: 35px;
    margin-right: 35px;
}

.center-item {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
    margin-right: 0px;
}

.pac {
    width: 120px;
}